@model EmployeeViewModel

@{
    ViewData["Title"] = $"Редактирование сотрудника id = {Model.Id}";
}

<div class="container">
    <h4> Сотрудник </h4>
    <hr />
    <div class = "row">
        <div class = "col-md-4">
            <form asp-action = "Edit">
                <div asp-validation-summary = "ModelOnly" class = "text-danger" ></div>
                <input asp-for = "Id" type = "hidden" />
                <div class = "form-group">
                    <label asp-for = "Name" class = "control-label" ></label>
                    <input asp-for = "Name" class = "form-control" />
                    <span asp-validation-for = "Name"
                          class = "text-danger" ></span>
                </div>
                <div class = "form-group">
                    <label asp-for = "Surname" class = "control-label" ></label>
                    <input asp-for = "Surname" class = "form-control" />
                    <span asp-validation-for = "Surname" class = "text-danger" ></span>
                </div>

                <div class = "form-group">
                    <label asp-for = "Patronymic" class = "control-label" ></label>
                    <input asp-for = "Patronymic" class = "form-control" />
                    <span asp-validation-for = "Patronymic"
                          class = "text-danger" ></span>
                </div>

                <div class = "form-group">
                    <label asp-for = "BirthDateTime" class = "control-label" ></label>
                    <input asp-for = "BirthDateTime" class = "form-control" />
                    <span asp-validation-for = "BirthDateTime" class = "text-danger" ></span>
                </div>
                
                <div class = "form-group">
                    <input type = "submit" value = "Сохранить" class = "btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action = "Index" > Назад к списку </a>
    </div>

</div>